@import "tailwindcss";

@theme {
  --font-sans: var(--font-space-grotesk);
  --shadow-brutal: 4px 4px 0px 0px #000000;
  
  --color-uvz-blue: #1e3a8a;
  --color-uvz-orange: #f97316;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
